.card-v8 {
  display: block;
  //border-radius: var(--radius-lg);
  overflow: hidden;
  background-color: var(--color-bg);
  text-decoration: none;
  transition: 0.2s;
  height: 100%;
  img {
    display: block;
    width: 100%;
  }

  &:hover {
    box-shadow: var(--shadow-md);

    .card-v8__title {
      background-size: 100% 100%;
    }
  }
}

.card-v8__title {
  background-repeat: no-repeat;
  will-change: background-size;
  transition: background-size 0.3s var(--ease-in-out);
  text-decoration: none;

  background-image: linear-gradient(
    transparent 50%,
    alpha(var(--color-primary), 0.2) 50%
  );
  background-size: 0% 100%;
}
