:root {
  // font family
  --font-primary: franklin-gothic-urw;
  --font-secondary: franklin-gothic-urw-comp, sans-serif;
  --font-tertiary: bodoni-urw, serif;

  // body font size
  --text-base-size: 1em;

  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.7;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
  --font-secondary-capital-letter: 1;
  --font-tertiary-capital-letter: 1;
}

@supports (--css: variables) {
  :root {
    @include breakpoint(md) {
      --text-base-size: 1.1em;
      --text-scale-ratio: 1.25;
    }
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--color-primary);
}

//font family
.font-primary {
  font-family: var(--font-primary);
}
.font-secondary {
  font-family: var(--font-secondary);
}
.font-tertiary {
  font-family: var(--font-tertiary);
  font-style: italic;
}
